streamlit
pip
setuptools
wheel
pandas
numpy
plotly
sqlalchemy
psycopg2-binary
supabase
python-dotenv
cryptography
python-dateutil
httpx
httpcore
langchain
langchain-community
langchain-google-genai
langchain-text-splitters
langsmith
pypdf
beautifulsoup4
requests
trafilatura
python-frontmatter
mistralai
python-docx
Pillow
torch
torchvision
vosk
sounddevice
pyttsx3
assemblyai